## Credit Card Fraud Detection

In [2]:
#importing libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#loading the dataset
credit_card_data = pd.read_csv('creditcard.csv')
credit_card_data.head()
#class column represents either legit(0) or fraud(1) transaction

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
#distribution of legit and fraud transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

### The dataset is highly unbalanced
### 0 -> Normal transaction 
### 1 -> Fraud Transaction

In [6]:
#seperating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]
#print(legit,fraud)

In [7]:
#statistical measure of data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [8]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [9]:
#comparing the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

#### Under-Sampling

Build a sample dataset containing similar distribution of legit and fraudulent transactions

In [11]:
legit_sample = legit.sample(n=492) #random sample of size 492 will be selected

concatenating 2 dataframes( legit_sample and fraud )

In [12]:
new_dataset = pd.concat( [legit_sample , fraud] ,axis = 0) #axis is used to concat horizantally(0 --> attached below) and vertically(1 --> attached sidedways)

In [13]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [14]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,98862.221545,0.042671,0.026879,0.027579,0.022003,-0.071043,-0.005230,0.057177,0.005608,-0.051200,...,0.002366,-0.000725,-0.004165,0.003942,-0.001454,0.008818,-0.018850,0.012621,0.022786,94.740325
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Splitting the data into features and targets

In [15]:
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [18]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
138428,82646.0,-1.856228,0.547015,0.978331,-0.059570,0.269354,-0.608028,0.370964,0.108354,-0.309859,...,-0.371646,-0.293427,-0.439029,0.532803,-0.019981,-0.050681,0.032545,-0.456227,-0.108989,9.72
204992,135540.0,1.870483,-1.113778,-2.795574,-0.329588,0.062821,-1.359011,0.700571,-0.569725,-0.938993,...,-0.298122,-0.007462,0.039819,-0.222413,0.771036,0.397199,0.970023,-0.176555,-0.053109,214.98
271265,164493.0,0.094924,0.942183,-0.530734,-0.742014,1.224993,-0.242634,0.835219,0.079022,-0.305563,...,0.055009,-0.303116,-0.754296,0.049767,0.121496,-0.410834,0.121772,0.221035,0.071036,2.97
114724,73599.0,-1.081385,0.811354,0.872026,0.580986,-0.494662,3.292854,-2.210188,-4.469659,-0.217640,...,0.925932,-2.435687,1.410908,0.297333,-0.828408,0.558563,-0.313390,0.194313,0.235437,114.16
105684,69645.0,1.297613,0.325651,-0.143619,0.298024,0.312724,-0.072136,0.005627,-0.022777,-0.251481,...,0.010012,-0.305125,-0.874254,-0.035520,-0.871839,0.365086,0.147737,-0.023642,0.010007,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [19]:
Y

138428    0
204992    0
271265    0
114724    0
105684    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

### Splitting the data into Training data and Testing data

In [20]:
# 80% data and its corresponding class values is stored in X_train and Y_train for training the model
# 20% data and its corresponding class values is stored in X_test and Y_test for testing the model
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [21]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

### Model Training
Logistic Regression

In [22]:
model = LogisticRegression()

In [23]:
#training the logistic regression model with training data
model.fit(X_train, Y_train)

LogisticRegression()

### Model Evaluation
Accuracy Score

In [24]:
# Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [27]:
print('Accuracy on training data : ',training_data_accuracy)

Accuracy on training data :  0.9479034307496823

In [29]:
# Accuracy on test data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [30]:
print('Accuracy in testing data :',testing_data_accuracy)

Accuracy in testing data : 0.9289340101522843